@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body, input, textarea, button, table{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	color: #323232;
	vertical-align:middle;
}

select{
	font-weight: 400;
	/*
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            background: #ffffff url(img/arrow.png) no-repeat scroll right center;
            */
}

ul{
    list-style: none;
    color: #323232;
}

a{
    text-decoration: none;
    color: #323232;
}
button{
	border:0 none;
	background-color:transparent;
	cursor:pointer;
    border-radius: 4px;
    background-color: white;
    border-color: #e1e1e1;
    color: #323232;
    width: 100px;
    height: 33px;
    font-weight: 700;
}
button:hover{
    background-color: white;
    color: #000000;
}
/*
hr{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
*/
