@charset "utf-8";

@media ( max-width : 375px) {
	#category {
		font-size: 14px;
		line-height: 70px;
		text-align: center;
	}
	#category-3 {
		
	}
	#category-1 {
		font-size: 12px;
		padding: 30px 0px;
		float: left;
	}
	#category-1>a {
		padding: 0px 6px;
		color: white;
	}
	#category-1>a:hover {
		color: white;
	}
	#category-2 {
		float: right;
		margin-left: 100px;
	}
	#category-2>a {
		color: white;
		padding: 0px 20px;
	}
}

@media ( min-width :1200px) {
	/*헤더 고정(sticky header)*/
	.sticky {
		position: fixed;
		z-index: 9999;
		top: 0;
		width: 100%;
	}
	.sticky+.contents {
		padding-top: 102px;
	}

	/* 상단 카테고리 */
	#category {
		font-size: 15px;
		font-weight: 600;
		line-height: 70px;
	}
	#logo {
		width: 100px;
		height: auto;
		float: left;
		margin: 15px 0px;
	}
	#category-1 {
		float: left;
		margin: 0px 50px;
	}
	#category-1>a {
		padding: 13px;
		color: #323232;
	}
	#category-1>a:hover {
		color: #323232;
	}
	#category-2 {
		float: right;
		margin: 0px 50px;
	}
	#category-2>a {
		color: #323232;
		text-transform: uppercase;
		text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
		padding: 0px 13px;
	}

	/*상단 버튼 효과*/
	.cl-effect-1::before, .cl-effect-1::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}
	.cl-effect-1::before {
		margin-right: 10px;
		content: '[';
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}
	.cl-effect-1::after {
		margin-left: 10px;
		content: ']';
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	.cl-effect-1:hover::before, .cl-effect-1:hover::after, .cl-effect-1:focus::before,
		.cl-effect-1:focus::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}

	/*콘텐츠-높이는 자유롭게 설정하세요*/
	#contents {
		height: auto;
		margin: 0px 0px;
		background-color: #f7f8f9;
	}
	/*슬라이드 배너*/
	.swiper-slide>a>img {
		max-width: 100%;
		height: 600px;
		overflow: hidden;
	}
	.swiper-container {
		max-width: 100%;
		height: 600px;
	}

	/* 위젯 부분 */
	#contents-wiget {
		height: 200px;
		margin: 100px 0px;
		padding: 70px 25px;
		color: #343434;
	}
	.grid-wiget {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 3.5vw;
	}
	.grid-cell1 {
		height: 240px;
		padding: 10px;
		text-align: center;
	}
	.grid-cell1>img {
		width: 100px;
		height: 100px;
		padding: 20px;
	}

	/* sns형 게시판 */
	#contents-sns {
		height: 500px;
		padding: 50px 0px;
	}
	.grid-sns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2vw;
		padding: 25px;
	}
	.grid-cell2 {
		height: 450px;
		text-align: left;
		background-color: white;
		border: 1px solid #e1e1e1;
	}
	.sns-top {
		margin-top: 40px;
		height: 300px;
	}
	.sns-bottom {
		display: grid;
		grid-template-columns: 155px 1fr;
		padding: 5px;
		border-bottom: 1px solid #e1e1e1;
	}
	.user-photo {
		width: 320px;
		height: 300px;
		overflow: hidden;
	}
	.user-info {
		display: inline-flex;
		line-height: 27px;
		height: 30px;
		padding: 5px;
	}
	.user-info>img {
		width: 30px;
		height: 30px;
	}
	.user-name {
		color: black;
		padding-left: 7px;
		font-size: 16px;
		font-weight: 700;
	}
	.user-like {
		text-align: right;
		line-height: 27px;
		height: 30px;
		padding: 5px;
	}
	.user-like-btn {
		width: 30px;
		height: 30px;
		padding: 0px 5px;
	}
	.count {
		display: inline-flex;
		padding: 5px 7px;
	}
	.user-like-count {
		width: 20px;
		height: auto;
		padding: 0px 5px;
	}
	.like-count {
		color: black;
		font-size: 13px;
	}
	/* 하단 */
	#footer_info1 {
		font-size: 11px;
		color: #a4a4a4;
	}
	#footer_info1>p>a {
		color: #a4a4a4;
	}

	/* 드론 비교하는건 여기서 설정하시면 됩니다. */
	#footer-nav {
		
	}
	#center-text {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	#chat-circle {
		z-index: 9999;
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 180px;
		height: 140px;
		color: white;
		cursor: pointer;
		filter: drop-shadow(10px 10px 5px #383A3F);
	}
	#my-btn {
		background: white;
		padding-top: 13px;
		padding-bottom: 12px;
		border-radius: 45px;
		padding-right: 40px;
		padding-left: 40px;
		color: #7EBDC2;
	}
	#chat-overlay {
		background: rgba(255, 255, 255, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		display: none;
	}
	.chat-box {
		z-index: 999;
		display: none;
		background: #efefef;
		position: fixed;
		right: 30px;
		bottom: 50px;
		width: 350px;
		max-width: 85vw;
		max-height: 100vh;
		border-radius: 5px;
		/*   box-shadow: 0px 5px 35px 9px #464a92; */
		box-shadow: 0px 5px 35px 9px #ccc;
	}
	.chat-box-toggle {
		float: right;
		margin-right: 15px;
		cursor: pointer;
	}
	.chat-box-header {
		background: #7EBDC2;
		height: 70px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: white;
		text-align: center;
		font-size: 20px;
		padding-top: 17px;
	}
	.chat-box-body {
		position: relative;
		height: 370px;
		height: auto;
		border: 1px solid #ccc;
		overflow: hidden;
	}
	.chat-box-body:after {
		content: "";
		background-image:
			url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgOCkiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGNpcmNsZSBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgY3g9IjE3NiIgY3k9IjEyIiByPSI0Ii8+PHBhdGggZD0iTTIwLjUuNWwyMyAxMW0tMjkgODRsLTMuNzkgMTAuMzc3TTI3LjAzNyAxMzEuNGw1Ljg5OCAyLjIwMy0zLjQ2IDUuOTQ3IDYuMDcyIDIuMzkyLTMuOTMzIDUuNzU4bTEyOC43MzMgMzUuMzdsLjY5My05LjMxNiAxMC4yOTIuMDUyLjQxNi05LjIyMiA5LjI3NC4zMzJNLjUgNDguNXM2LjEzMSA2LjQxMyA2Ljg0NyAxNC44MDVjLjcxNSA4LjM5My0yLjUyIDE0LjgwNi0yLjUyIDE0LjgwNk0xMjQuNTU1IDkwcy03LjQ0NCAwLTEzLjY3IDYuMTkyYy02LjIyNyA2LjE5Mi00LjgzOCAxMi4wMTItNC44MzggMTIuMDEybTIuMjQgNjguNjI2cy00LjAyNi05LjAyNS0xOC4xNDUtOS4wMjUtMTguMTQ1IDUuNy0xOC4xNDUgNS43IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTg1LjcxNiAzNi4xNDZsNS4yNDMtOS41MjFoMTEuMDkzbDUuNDE2IDkuNTIxLTUuNDEgOS4xODVIOTAuOTUzbC01LjIzNy05LjE4NXptNjMuOTA5IDE1LjQ3OWgxMC43NXYxMC43NWgtMTAuNzV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjcxLjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjE3MC41IiBjeT0iOTUuNSIgcj0iMS41Ii8+PGNpcmNsZSBmaWxsPSIjMDAwIiBjeD0iODEuNSIgY3k9IjEzNC41IiByPSIxLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDAiIGN4PSIxMy41IiBjeT0iMjMuNSIgcj0iMS41Ii8+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTkzIDcxaDN2M2gtM3ptMzMgODRoM3YzaC0zem0tODUgMThoM3YzaC0zeiIvPjxwYXRoIGQ9Ik0zOS4zODQgNTEuMTIybDUuNzU4LTQuNDU0IDYuNDUzIDQuMjA1LTIuMjk0IDcuMzYzaC03Ljc5bC0yLjEyNy03LjExNHpNMTMwLjE5NSA0LjAzbDEzLjgzIDUuMDYyLTEwLjA5IDcuMDQ4LTMuNzQtMTIuMTF6bS04MyA5NWwxNC44MyA1LjQyOS0xMC44MiA3LjU1Ny00LjAxLTEyLjk4N3pNNS4yMTMgMTYxLjQ5NWwxMS4zMjggMjAuODk3TDIuMjY1IDE4MGwyLjk0OC0xOC41MDV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxwYXRoIGQ9Ik0xNDkuMDUgMTI3LjQ2OHMtLjUxIDIuMTgzLjk5NSAzLjM2NmMxLjU2IDEuMjI2IDguNjQyLTEuODk1IDMuOTY3LTcuNzg1LTIuMzY3LTIuNDc3LTYuNS0zLjIyNi05LjMzIDAtNS4yMDggNS45MzYgMCAxNy41MSAxMS42MSAxMy43MyAxMi40NTgtNi4yNTcgNS42MzMtMjEuNjU2LTUuMDczLTIyLjY1NC02LjYwMi0uNjA2LTE0LjA0MyAxLjc1Ni0xNi4xNTcgMTAuMjY4LTEuNzE4IDYuOTIgMS41ODQgMTcuMzg3IDEyLjQ1IDIwLjQ3NiAxMC44NjYgMy4wOSAxOS4zMzEtNC4zMSAxOS4zMzEtNC4zMSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEuMjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvZz48L3N2Zz4=');
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	#chat-input {
		background: #f4f7f9;
		width: 330px;
		position: relative;
		height: 47px;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		border: none;
		resize: none;
		outline: none;
		border: 1px solid #ccc;
		color: #888;
		border-top: none;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		overflow: hidden;
	}
	.chat-input>form {
		margin-bottom: 0;
	}
	#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #ccc;
	}
	#chat-input::-moz-placeholder { /* Firefox 19+ */
		color: #ccc;
	}
	#chat-input:-ms-input-placeholder { /* IE 10+ */
		color: #ccc;
	}
	#chat-input:-moz-placeholder { /* Firefox 18- */
		color: #ccc;
	}
	.chat-submit {
		position: absolute;
		bottom: 3px;
		right: 10px;
		background: transparent;
		box-shadow: none;
		border: none;
		border-radius: 50%;
		color: #7EBDC2;
		width: 35px;
		height: 35px;
	}
	.chat-logs {
		padding: 15px;
		height: 370px;
		overflow-y: scroll;
	}
	.chat-logs::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #F5F5F5;
	}
	.chat-logs::-webkit-scrollbar {
		width: 5px;
		background-color: #F5F5F5;
	}
	.chat-logs::-webkit-scrollbar-thumb {
		background-color: #7EBDC2;
	}
	@media only screen and (max-width: 500px) {
		.chat-logs {
			height: 40vh;
		}
	}
	.chat-msg.user>.msg-avatar img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		float: left;
		width: 15%;
	}
	.chat-msg.self>.msg-avatar img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		float: right;
		width: 15%;
	}
	.cm-msg-text {
		background: white;
		padding: 10px 15px 10px 15px;
		color: #666;
		max-width: 75%;
		float: left;
		margin-left: 10px;
		position: relative;
		margin-bottom: 20px;
		border-radius: 30px;
	}
	.chat-msg {
		clear: both;
	}
	.chat-msg.self>.cm-msg-text {
		float: right;
		margin-right: 10px;
		background: #7EBDC2;
		color: white;
	}
	.cm-msg-button>ul>li {
		list-style: none;
		float: left;
		width: 50%;
	}
	.cm-msg-button {
		clear: both;
		margin-bottom: 70px;
	}
}