@charset "utf-8";

@media (max-width: 375px) {
    #category{
        font-size: 14px;
        line-height: 70px;
        text-align: center;
    }
    
    #category-3{

    }
    
    #category-1{
        font-size: 12px;
        padding: 30px 0px;
        float: left;
    }

    #category-1 > a{
        padding:0px 6px;
        color: white;
    }

    #category-1 > a:hover{
        color: white;
    }
    

    #category-2{
        float: right;
        margin-left: 100px;
    }

    #category-2 > a{
        color: white;
        padding: 0px 20px;
    }
}

@media (min-width:1200px){
/*헤더 고정(sticky header)*/
    .sticky {
      position: fixed;
      z-index: 9999;
      top: 0;
      width: 100%;
    }

    .sticky + .contents {
      padding-top: 102px;
    }
    
     /* 상단 카테고리 */
    #category{
        font-size: 15px;
        font-weight: 600;
        line-height: 70px;
    }
    
    #logo{
        width: 100px;
        height: auto;
        float: left;
        margin: 20px 0px;
    }
    
    #category-1{
        float: left;
        margin: 0px 50px;
    }

    #category-1 > a{
        padding: 13px;
        color: #323232;
    }

    #category-1 > a:hover{
        color: #323232;
    }

    #category-2{
        float: right;
        margin: 0px 50px;
    }

    #category-2 > a{
        color: #323232;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        padding: 0px 13px;
    }
    
    
    /*상단 버튼 효과*/
    .cl-effect-1::before,
    .cl-effect-1::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .cl-effect-1::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    .cl-effect-1::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .cl-effect-1:hover::before,
    .cl-effect-1:hover::after,
    .cl-effect-1:focus::before,
    .cl-effect-1:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
   
    /*콘텐츠-높이는 자유롭게 설정하세요*/
    #contents{
        height: auto;
        margin: 0px 0px;
    }
    /*슬라이드 배너*/
    .swiper-slide > a > img{
		max-width: 100%;
		height: 600px;
		overflow: hidden;
	}

	.swiper-container {
      max-width: 100%;
      height: 600px;
    }
	
	/* 위젯 부분 */
	#contents-wiget{
		height: 200px;
		margin: 100px 0px;
        padding: 70px 100px;
		color: #343434;
       
	}
	
	.grid-wiget{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		/*grid-gap: 3.5vw;*/
	}
	
	.grid-cell1{
		height: 200px;
        padding: 10px;
		text-align:center;
	}
    
	.grid-cell1 > img{
		width: 100px;
		height: 100px;
        padding: 20px;
	}
	
    /* sns형 게시판 */
	#contents-sns{
		height: 500px;
        padding: 50px 0px;
        background-color: #e1e1e1;
	}
	
	.grid-sns{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2vw;
		padding: 25px;
	}
	
	.grid-cell2{
		height: 450px;
		text-align:left;
        background-color: white;
        border: 1px solid #e1e1e1;
	}
    .sns-top{
        margin-top: 40px;
        height: 300px;
    }
    
    .sns-bottom{
        display: grid;
        grid-template-columns: 155px 1fr;
        padding: 5px;
        border-bottom: 1px solid #e1e1e1;
    }
    
    .user-photo{
        width: 320px;
        height: 300px;
        overflow: hidden;
    }
    .user-info{
        display: inline-flex;
        line-height: 27px;
        height: 30px;
        padding: 5px;
    }
    .user-info > img{
        width: 30px;
        height: 30px;
    }
    .user-name{
        color: black;
        padding-left: 7px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .user-like{
        text-align: right;
        line-height: 27px;
        height: 30px;
        padding: 5px;
    }
    .user-like-btn{
        width: 30px;
        height: 30px;
        padding: 0px 5px;
    }
    .count{
        display: inline-flex;
        padding: 5px 7px;
    }
    .user-like-count{
        width: 20px;
        height: auto;
        padding: 0px 5px;
    }
    .like-count{
        color: black;
        font-size: 13px;
    }
    /* 하단 */
    #footer_info1{
        font-size: 11px;
        color: #a4a4a4;
    }
    
    #footer_info1 > p > a{
        color: #a4a4a4;
    }

}