@charset "UTF-8";
#hr{
    background-color: #7EBDC2;
    border-color: #7EBDC2;
}
#mypage-orders{
    text-align: left;
    font-size: 25px;
    padding: 5px 10px;
}
.mypage-orders-list{
    margin: 30px 0px;
    padding: 20px 20px;
    text-align: left;
    border: 0.3px solid #a4a4a4;
}
.mypage-orders-title{
    font-size: 20px;
    padding: 10px;
}
.mypage-orders-info{
    padding: 10px;
}
.mypage-orders-info ul li{
    padding: 5px;
}


#mypage-orders-date{
    width: 150px;
    height: 30px;
    padding: 5px;
    float: right;
    font-size: 14px;
    border: 1px solid #7EBDC2;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;  
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
    border-radius: 0px;
    background-color: white;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}