@charset "UTF-8";

    /*콘텐츠-높이는 자유롭게 설정하세요*/
    #contents{
        height: auto;
       
    }
    
    .container{
        width: 1100px;
        margin: 0 auto;
        height: auto;
         color: black;
    }


    .list_place .li_block {background: #fff; padding: 20px 4%; margin: 1px auto; border: 0; width:500px;}
    .list_place .li_block .thumbnail {width: 205px; height: 120px;}
    .list_place .li_block .thumbnail img {width: 205px; height: 120px; max-width: 205px; max-height: 120px; position:relative; left:550px;}
    .list_place .li_block .thumbnail .zoom {bottom: 3px; right: inherit; left: 0;}
    .list_place .li_block .txt_area {width: 70%; margin-left: 0; padding-left: 4%; position:relative; left:50px;}
    .list_place .txt_area .md_txt {font-size: 16px;}
    .list_place .txt_area .sm_txt {font-size: 15px; position:relative; right:50px;}
    .list_place .info_box .link_li a {font-size: 14px; letter-spacing: -0.1em; position:relative; right:50px;}
    .list_place .info_box .link_li a.dark_bg {background-color: #5d8eff;}
    
    .list_place .li_block .thumbnail {position: absolute; width: 32%; z-index: 10; left: 4%;}
    .list_place .li_block .thumbnail img {max-height: 70px;}
    .list_place .li_block .txt_area {position: relative; width: 100%; padding-left: 0; z-index: 9;}
    .list_place .txt_area .tit {font-size: 16px; padding-left: 40%; padding-top: 0; line-height: 22px;}
    .list_place .txt_area .md_txt {color: #444; padding-left: 40%; height: 36px; margin: 7px 0; font-size: 15px; line-height: 18px; color: #444;}
    .list_place .txt_area .sm_txt {display: -webkit-box; line-height: 18px; font-size: 14px; max-height: 54px; padding: 7px 10px; margin-top: 15px; background: #f7f7f7; text-overflow: ellipsis; overflow: hidden; white-space: normal; text-align: left; -webkit-line-clamp: 2; -webkit-box-orient: vertical; letter-spacing: -0.07em;}
    .list_place .info_box {padding-top: 5px; margin-top: 5px;}
    .list_place .info_box .link_li a {padding: 6px 12px 7px 12px;}
    .list_place .info_box .count_area {margin-top: 3px;}