@charset "utf-8";
#header{
    height: 120px;
}

#header-nav{
    height: 50px;
    line-height: 50px;
    background-color: #1F2124;
    vertical-align: middle;
}
    
.container{
	width: 1100px;
	margin: 0 auto;
	height: 820px;
}
#pil-search > select{
    width: 200px;
    height: 30px;
    font-size: 14px;
    margin: 0px 50px 0px 20px;
}

#pil-search-btn{
   
}

.container > ul > li > dd{
    
}
.pilot-container{
	padding-top: 30px;
	height: 760px;
}
.pil-list{
    width: 1100px;
    height: 130px;
    text-align: left;
    padding: 10px;
    line-height: 25px;
    border-bottom: 1px solid white;
}
.pil-list-img{
    width: 130px;
    height: 130px;
    float: left;
    padding-left: 10px;
}

.pil-list-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 0px 170px;   
}

.pil-list-info{
	font-size:14px;
    padding: 0px 0px 0px 170px;
}


/*페이징*/
#pilot-paging{
	margin: 20px 0px;
}
.inner_paging > a{
	font-size: 14px;
	font-weight: 700;
	padding: 10px;
	margin: 0px 5px;
}

