@charset "utf-8";
#header{
    height: 120px;
}

#header-nav{
    height: 50px;
    line-height: 50px;
    background-color: #383A3F;
    vertical-align: middle;
}
    
.container{
	width: 1100px;
	margin: 0 auto;
	height: auto;
}
/* 검색 */
#pil-search > select{
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin: 0px 20px 0px 20px;
}

#pil-search-btn{
   margin-bottom: 2.5px;
   border-radius: 30px;
   font-size: 17px;
   font-weight: 700;
   width: 120px;
   padding: 5px;
   margin-left: 10px;
}


/* 파일럿 목록 */
.pilot-container{
	margin-top: 30px;
	height: auto;
}
.pil-list{
    width: 1100px;
    height: 130px;
    text-align: left;
    padding: 10px;
    line-height: 25px;
    border-bottom: 1px solid #e1e1e1;
}
.pil-list-img{
    width: 130px;
    height: 130px;
    float: left;
    padding-left: 10px;
}

.pil-list-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 0px 170px;   
}

.pil-list-info{
	font-size:14px;
    padding: 0px 0px 0px 170px;
}

/*페이징*/
#pilot-paging{
	margin: 20px 0px;
}
.inner_paging > a{
	font-size: 14px;
	font-weight: 700;
	padding: 10px;
	margin: 0px 5px;
	color: #2f6064;
}

