@charset "utf-8";

@media (max-width: 375px) {
    #category{
        font-size: 14px;
        line-height: 70px;
        text-align: center;
    }
    
    #category-3 > a > img{
        width: 100px;
        height: 30px;
    }
    #category-1{
        font-size: 12px;
        padding: 30px 0px;
        float: left;
    }

    #category-1 > a{
        padding:0px 6px;
        color: black;
    }

    #category-1 > a:hover{
        color: black;
    }

    #category-2{
        float: right;
        padding: 30px 0px;
    }

    #category-2 > a{
        color: black;
        padding: 3px;
    }
}

@media (min-width:376px){
    /*헤더 고정(sticky header)*/
    .sticky {
      position: fixed;
      z-index: 2;
      top: 0;
      width: 100%;
    }

    .sticky + .contents {
      padding-top: 102px;
    }
    
     /* 상단 카테고리 */
    #category{
        font-size: 15px;
        line-height: 70px;
    }
    
    #logo{
        width: 100px;
        height: auto;
        float: left;
        margin: 20px 0px;
    }
    
    #category-1{
        float: left;
        margin: 0px 50px;
    }

    #category-1 > a{
        padding: 13px;
        color: #323232;
    }

    #category-1 > a:hover{
        color: #323232;
    }

    #category-2{
        float: right;
        margin: 0px 50px;
    }

    #category-2 > a{
        color: #323232;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        padding: 0px 13px;
    }
    
    
    /*상단 버튼 효과*/
    .cl-effect-1::before,
    .cl-effect-1::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .cl-effect-1::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    .cl-effect-1::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .cl-effect-1:hover::before,
    .cl-effect-1:hover::after,
    .cl-effect-1:focus::before,
    .cl-effect-1:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
    /*콘텐츠-높이는 자유롭게 설정하세요*/
    #contents{
        height: auto;
    }
    
    .container{
        width: 1100px;
        margin: 0 auto;
        height: auto;
    }

    /* 하단 */
    #footer_info1{
        font-size: 11px;
        color: #a4a4a4;
    }
    
    #footer_info1 > p > a{
        color: #a4a4a4;
    }

}