@charset "UTF-8";
body {
	margin: 0;
	background:#000;
}
video {
    object-fit: cover;
}
#difeVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
	transition: 1s opacity;
	-webkit-transition: 1s opacity;
	-moz-transition: 1s opacity;
	-o-transition: 1s opacity;
}
.content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 0px;
}
#btn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}
#btn:hover {
	background:rgba(0,0,0,0.5);
}
a{
	display:inline-block;
	color:#fff;
	text-decoration: none;
	padding:.5rem;
}

@media screen and (max-width: 500px) {
	div {
		width:70%;
	}
	.content {
		position:absolute;
		top:40%;
		left:30%;
		font-size:0.9em;
	}
	#btn {
		width:80%;
		padding:3rem;
	} 
	#btn > a {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
		font-size: 1em;
	}
} 
@media screen and (max-device-width: 800px) {
	div {
		width:70%;
	}
}
@media screen and (max-device-width: 800px) {
	#difeVideo {
		display:none;
	}
}