<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

  <!-- 게시판 모두보기 -->
  <select id="selectAll" resultType="boardVo">
      select boa_no, mem_no, boa_title, boa_contents, boa_pwd, boa_rating, (select to_char(boa_regdate, 'yyyy-mm-dd') from board) regdate, 
	boa_view, boa_answer, boa_sort, boa_category, boa_fname, boa_ref, boa_level, boa_step, first, first_time, last, last_time 
	from board 
	<if test="boa_sort != null and boa_sort !=''">
		<if test="boa_sort == '전체'">
			where boa_sort='전체'
		</if>
		<if test="boa_sort == '문의'">
			where boa_sort='문의'
		</if>
		<if test="boa_sort == '후기'">
			where boa_sort='후기'
		</if>
	</if>
	order by boa_ref desc, boa_step
  </select>
</mapper>