<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orders">

  <!-- 회원의 장바구니 목록 -->
  <select id="selectBasket" resultType="basketVo">
   select ps.bas_no bas_no,d.dro_name dro_name,p.mem_name mem_name,bas_amount,bas_price,bas_rental,bas_return,bas_time,pos_no,dro_series,pil_career,dro_photo,pos_price,bas_price*0.01 point,mem_no,ps.mem_point mem_point from (
select bas_no,p.pos_no,mem_no,bas_amount,bas_price,bas_rental,bas_return,bas_time,pil_no,dro_no,pos_price,mem_point from (select b.*,m.mem_point from basket b,member m where m.mem_no=b.mem_no and m.mem_no =
 (select mem_no from member where mem_id=#{mem_id})) b,possesion p where b.pos_no = p.pos_no)
ps left outer join drone d on (ps.dro_no= d.dro_no) left outer join (select pil_no,mem_name,pil_career from pilot p,member m where p.mem_no = m.mem_no) p on (ps.pil_no=p.pil_no) order by bas_no
  </select>
  
  <!-- 주문삭제 버튼 클릭시 장바구니 삭제 -->
	<delete id="delBas">
		delete basket where bas_no=#{bas_no}
	</delete>
  <!-- orders insert 및 ordersDetail insert transaction -->
  	<insert id="insertOrders">
  	 insert into orders values('O'||lpad(seq_ord.nextval,6,0),#{mem_no},#{ord_amount},#{ord_price},sysdate,0)
  	</insert>
  	<insert id="insertOrdersDetail">
  	insert into ordersdetail values('OD'||lpad(seq_det.nextval,6,0),#{ord_no},#{pos_no},#{det_amount},#{det_price},TO_DATE(#{det_rental},'YYYY/MM/DD') ,TO_DATE(#{det_return},'YYYY/MM/DD') ,0)
  	</insert>
  	<!--  select maxno -->
  	<select id="MaxOrd" resultType="java.lang.String">
  	select max(ord_no) from orders
  	</select>
  	<!-- select OrdersDetail -->
	<select id="detailList" resultType="ordersDetailPageVo">
 	select ord_no,ord_amount,ord_price,det_amount,det_price,det_rental,det_return,mem_point,dro_name,dro_series,dro_photo,mem_name,pil_career,pil_profile,ord_date from (select B.*,dro_no,pil_no from 
(select o.ord_no,ord_amount,ord_price,det_amount,det_price,det_rental,det_return,pos_no,mem_point,ord_date from (select ord_no,ord_amount,ord_price,mem_point,ord_date  
from orders o,member m where o.mem_no=m.mem_no and ord_pay_state = 0 
and ord_no =#{ord_no} 
and m.mem_no=(select mem_no from member where mem_id=#{mem_id})
) A,ordersdetail o where o.ord_no = A.ord_no and det_rental_stat =0
) B,
possesion p where p.pos_no=B.pos_no) 
ps left outer join drone d on (ps.dro_no= d.dro_no) left outer join (select pil_no,mem_name,pil_career,pil_profile from pilot p,member m where p.mem_no = m.mem_no) p on (ps.pil_no=p.pil_no)
  	</select> 

</mapper>