<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pilInfo">
<!-- 파일럿 검색조건 1가지 -->
<select id="sel_pilOne" resultType="pilInfoVo">
	select m.mem_name, pi.* from pil_information pi, member m, pilot p 
    where p.pil_no = pi.pil_no and p.mem_no = m.mem_no
    <!-- 
    <choose>
    	<when test="category != '2' and location == '선택'">
    		and pil_cateInfo = #{category}
    	</when>
    	<when test="category == '2' and location != '선택'">
    		and pil_locInfo like '%' || #{location} || '%'
    	</when>
    	
    </choose>
     -->
     <if test="category == '2' and location != '선택'">
		and pil_locInfo like '%' || #{location} || '%'
    </if>
    <if test="category != '2' and location == '선택'">
		and pil_cateInfo = #{category}
    </if>
    <if test="category != '2' and location != '선택'">
    	and pil_cateInfo = #{category} and  pil_locInfo like '%' || #{location} || '%' 
    </if>
    
     
</select>

<!-- 전체 파일럿 홍보 테이블 셀렉 -->
  <select id="selectPil_info" resultType="pilInfoVo">
    select m.mem_name, pi.* from pil_information pi, member m, pilot p 
    where p.pil_no = pi.pil_no and p.mem_no = m.mem_no and 
    pi.pil_no in (select pil_no from possesion where pil_no is not null)
  </select>
</mapper>