<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pilot">
<!-- 예약 상담 select -->
<select id="sel_pilRes" resultType="reservationVo">
	select m.mem_name, B.*
	from member m,
	(select p.mem_no mem, A.* from pilot p,
	(select pil_no, pil_title, con_no, con_sort, pl.list_no, c.mem_no, con_time,
	con_attend, con_purpose, con_loc, to_char(con_start,'yyyy/MM/dd')
	con_start_str, to_char(con_end,'yyyy/MM/dd') con_end_str,
	to_char(con_regdate,'yyyy/MM/dd') con_regDate_str
	from pil_list pl, condition c
	where pl.list_no = c.list_no and mem_no = #{mem_no}
	<if test="con_no != null and con_no != ''">
		and c.con_no = #{con_no}
	</if>
   ) A where p.pil_no = A.pil_no) B where m.mem_no = B.mem
</select>
<!-- 예약상담 insert -->
<insert id="insertPilRes">
	insert into condition values(#{con_no},#{con_sort},#{list_no},#{mem_no},#{con_time},#{con_attend},#{con_purpose},#{con_loc},#{con_start},#{con_end},sysdate)
</insert>
<!-- 예약상담 번호 -->
<select id="sel_nextNo" resultType="java.lang.Integer">
	select nvl(max(con_no), 1)+1 from condition
</select>

<!-- 전체 레코드 수 출력 -->
<select id="sel_pil_cnt" resultType="java.lang.Integer">
	select count(list_no) from pil_list
	 <!-- 지역으로만 검색 -->
     <if test="category == 2 and !location.equals('선택')">
		where pil_locInfo like '%' || #{location} || '%'
    </if>
    <!-- 카테고리로만 검색 -->
    <if test="category != 2 and location.equals('선택')">
		where pil_cateInfo = #{category}
    </if>
    <!-- 지역 및 카테고리 검색 -->
    <if test="category != 2 and !location.equals('선택')">
    	where pil_cateInfo = #{category} and  pil_locInfo like '%' || #{location} || '%' 
    </if>
</select>

<!-- 상세페이지 출력 -->
<select id="sel_pil_detail" resultType="pilListVo">
	select m.mem_name,p.*, pl.* from pil_list pl, member m, pilot p 
    where p.pil_no = pl.pil_no and p.mem_no = m.mem_no and 
    pl.list_no = #{info}
</select>
<!-- 파일럿 검색조건 1가지 -->
<select id="sel_pil2" resultType="pilListVo">
   select A.* from (select rownum n, m.mem_name, pl.* from pil_list pl, member m, pilot p 
    where p.pil_no = pl.pil_no and p.mem_no = m.mem_no

   <!-- 지역으로만 검색 -->
     <if test="category == 2 and !location.equals('선택')">
		and pil_locInfo like '%' || #{location} || '%'
    </if>
    <!-- 카테고리로만 검색 -->
    <if test="category != 2 and location.equals('선택')">
		and pil_cateInfo = #{category}
    </if>
    <!-- 지역 및 카테고리 검색 -->
    <if test="category != 2 and !location.equals('선택')">
    	and pil_cateInfo = #{category} and  pil_locInfo like '%' || #{location} || '%' 
    </if>
    <!-- 검색조건 없을 시 -->
    <if test="category == 2 and location.equals('선택')">
    	and pl.pil_no in (select pil_no from possesion where pil_no is not null)
    </if>
     ) A where A.n between #{start} and #{end}
</select>

<!-- 파일럿 검색조건 1가지 -->
<select id="sel_pil" resultType="pilListVo">
select m.mem_name, pl.* from pil_list pl, member m, pilot p 
    where p.pil_no = pl.pil_no and p.mem_no = m.mem_no

   <!-- 지역으로만 검색 -->
     <if test="category == 2 and !location.equals('선택')">
		and pil_locInfo like '%' || #{location} || '%'
    </if>
    <!-- 카테고리로만 검색 -->
    <if test="category != 2 and location.equals('선택')">
		and pil_cateInfo = #{category}
    </if>
    <!-- 지역 및 카테고리 검색 -->
    <if test="category != 2 and !location.equals('선택')">
    	and pil_cateInfo = #{category} and  pil_locInfo like '%' || #{location} || '%' 
    </if>
    <!-- 검색조건 없을 시 -->
    <if test="category == 2 and location.equals('선택')">
    	and pl.pil_no in (select pil_no from possesion where pil_no is not null)
    </if>
</select>

</mapper>