@charset "UTF-8";
body{
    background-color: black;
    overflow-y: hidden;
}
#header-nav{
    height: 50px;
    background-color: #1F2124;
}
#contents{
    height: auto;
}

/* 상단 타이틀 및 카테고리 */
.header-top{
    line-height: 65px;
}
.header-top .header-left{
}
.header-top .header-left .title a img{
    float: left;
    width: 120px;
    height: auto;
    margin-top: 8px;
}
.header-top .header-left .category{
    float: left;
}
.header-top .header-left .category a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px 15px 20px;
}
/*
.header-top .header-left .category a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-left .category a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}
*/
/* 상단 로그인 및 마이페이지 */
.header-top .header-right {
    float: right;
}
.header-top .header-right a{
    font-size: 14px;
    color: #fff;
    padding: 10px 15px 20px 15px;
}
/*
.header-top .header-right a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-right a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}
*/

/* 상품경로
.index-section{
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}
*/
/* 정보 ul 표시제거 */
ul{
	list-style: none;
}

/* 상단 상품이미지, 선택칸 */
.content1 #block1{
	display: grid;
	float: left;
	width: 500px;
    margin-top: 100px;
	margin-left: 250px;
}
.content1 #block2{
	display: grid;
	float: right;
	width: 500px;
    margin-top: 150px;
	margin-right: 250px;
}
.content1 li{
    margin: 10px;
}

/* 상단 상품가격,선택칸 *//*
.grid #block1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px 250px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: inherit;
}
.grid #block2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: inherit;
}*/
/*
#grid .block2{
	display: grid;
    
	text-align: center;
	width: 350px;
	margin: 100px;
	padding: 50px;
}*/

/* 상품선택칸 문자열 */
li{
	text-align: center;	
}

#block2 p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-danger{
    color: #fff;
}

.control-label{
    color: #fff;
}

/* 캘린더 */
#block5{
    color: white;
    height: 180px;
    text-align: end;
}
#calendar{
    font-size: 15px;
    padding: 60px 15px 0px 0px;
}
#datepicker{
    width: 150px;
    height: 25px;
}
/*
#form-group1 { 
    margin-left: -20px;
    margin-top: 10px;
}
#form-group2 {
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-datepicker{
    z-index: 4 !important;
}
.control-label {
    color:#333333;
    font-size: 14px;
    padding: 20px;
}
*/
/* 버튼 */
#block2 button{
	margin-top: 10px;
}

.content2 .block{
	display: inline-block;
	margin-top: 150px;
	padding: 0px;
}

/* 마우스오버 시 이미지 확대 */
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.img {
    overflow:hidden } /* 부모를 벗어나지 않고 내부 이미지만 확대 */
/* 마우스 hover 부분확대 효과로 변경 예정
.magnifier {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25);
    display: none;
}*/


/* Modal */
/*
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: rgba(#000, 0.7);
}

.container {
  height: 200vh;
  background-image: url(https://images.unsplash.com/photo-1538137524007-21e48fa42f3f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac9fa0975bd2ebad7afd906c5a3a15ab&auto=format&fit=crop&w=1834&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(#333, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
  }

  &-desc {
    margin: 6px 0 30px 0;
  }

  &-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    color: darken(#8c7569, 5%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(#fff, 0.8);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    background: rgba(#333, 0.85);

    .modal-button {
      opacity: 0;
    }

    .modal-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-right img {
      transform: scale(1);
    }

    .modal-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #55311c;
  }
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: #8c7569;

    .input-label {
      color: rgba(#8c7569, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darken(#8c7569, 5%);
  font-size: 32px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
  }
}


@media(max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}
*/

/* 컨테이너 */
.container {
    width: auto;
    margin: 0 auto;
    height: auto;
    background: #000;
}

#footer {
    text-align: center;
    height: 180px;
}

/* 하단 정보 */
.container .info{
    height: 140px;
    padding-top: 10px;
}
.container .info li dl .txt{
    font-size: 12px;
    color: #a4a4a4;
}