@charset "UTF-8";
body{
    background-color: black;
}

/* 전체 레이아웃 */
#wrap {
	clear: both;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#header {
    height: 120px;
}
#header-top {
    height: 70px;
   /* line-height: 70px;*/
    margin: 0px 260px;
}
#header-nav{
    height: 50px;
    line-height: 50px;
    background-color: #1F2124;
}

/* 상단 타이틀 및 카테고리 */
.header-top{
    line-height: 65px;
}
.header-top .header-left{
}
.header-top .header-left .title a img{
    float: left;
    width: 120px;
    height: auto;
    margin-top: 8px;
}
.header-top .header-left .category{
    float: left;
}
.header-top .header-left .category a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px 15px 20px;
}
/*
.header-top .header-left .category a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-left .category a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}
*/
/* 상단 로그인 및 마이페이지 */
.header-top .header-right {
    float: right;
}
.header-top .header-right a{
    font-size: 14px;
    color: #fff;
    padding: 10px 15px 20px 15px;
}
/*
.header-top .header-right a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-right a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}
*/

/* 상품경로
.index-section{
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}
*/
/* 정보 ul 표시제거 */
ul{
	list-style: none;
}

/* 상단 상품이미지 */
.content1 #block1{
	display: grid;
	float: left;
	width: 500px;
    margin-top: 50px;
	margin-left: 270px;
}
.content1 #block2{
	display: grid;
	float: right;
	width: 500px;
    margin-top: 70px;
	margin-right: 270px;
}

/* 상단 상품가격,선택칸 *//*
.grid #block1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px 250px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: inherit;
}
.grid #block2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: inherit;
}*/
/*
#grid .block2{
	display: grid;
    
	text-align: center;
	width: 350px;
	margin: 100px;
	padding: 50px;
}*/

/* 상품선택칸 문자열 */
li{
	text-align: center;	
}

#block2 p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-danger{
    color: #fff;
}

.control-label{
    color: #fff;
}

/* 캘린더 */
#form-group1 { 
    margin-left: -20px;
    margin-top: 10px;
}
#form-group2 {
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-datepicker{
    z-index: 4 !important;
}
.control-label {
    color:#333333;
    font-size: 14px;
    padding: 20px;
}

/* 버튼 */
#block2 button{
	margin-top: 10px;
}

.content2 .block{
	display: inline-block;
	margin-top: 150px;
	padding: 0px;
}

/* 마우스오버 시 이미지 확대 */
https://inforyou.tistory.com/18

/* 주문하기 시 Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place / position: sticky 은 고정시킨다. */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 컨테이너 */
.container {
    width: auto;
    margin: 0 auto;
    height: auto;
    background: #000;
}

#footer {
    text-align: center;
    height: 180px;
}

/* 하단 정보 */
.container .info{
    height: 140px;
    padding-top: 10px;
}
.container .info li dl .txt{
    font-size: 12px;
    color: #a4a4a4;
}