@charset "UTF-8";
body{
    background-color: black;
}

/* 전체 레이아웃 */
#wrap {
	clear: both;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#header{
    height: 120px;
}
#header-top {
    height: 70px;
   /* line-height: 70px;*/
    margin: 0px 260px;
}
#header-nav{
    height: 50px;
    line-height: 50px;
    background-color: #1F2124;
}

/* 상단 타이틀 및 카테고리 */
.header-top{
    line-height: 65px;
}
.header-top .header-left{
}
.header-top .header-left .title a img{
    float: left;
    width: 120px;
    height: auto;
    margin-top: 8px;
}
.header-top .header-left .category{
    float: left;
}
.header-top .header-left .category a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px 15px 20px;
}
.header-top .header-left .category a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-left .category a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}

/* 상단 로그인 및 마이페이지 */
.header-top .header-right {
    float: right;
}
.header-top .header-right a{
    font-size: 14px;
    color: #fff;
    padding: 10px 15px 20px 15px;
}
.header-top .header-right a:hover{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.header-top .header-right a:active{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B, 0 0 5px #FFD74B;
}

/* 달력 */
#dt{
    width: auto;
    height: 35px;
    margin: auto;
}
#dd{
	/* width and height in pixels */
	width: 280,
	height: 280,
	
	/* z-inde property */
	zIndex: 1,
	
	/* selector or element */
	trigger: null,
	
	/* offset */
	offset: [0, 1],
	
	/* custom CSS class */
	customClass: '',
	
	/* date or month */
	view: 'date',
	
	/* current date */ 
	date: new Date(),
	
	/* date format */
	format: 'yyyy/mm/dd',
	
	/* start of week */
	startWeek: 0,
	
	/* day of the week */
	weekArray: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
	
	/* month */
	monthArray: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
	
	/* date range */
	/* [new Date(), null] or ['2015/11/23'] */
	selectedRang: null,
	
	/* custom events */
	data: null,
	
	/* shows labels */
	/* {m} view mode，{d}date，{v}value */
	/* false = disable */
	label: '{d}\n{v}',
	
	/* next / prev signs */
	prev: '&lt;',
	next: '&gt;',
	
	/* callbacks */
	viewChange: $.noop,
	onSelected: function(view, date, value) {},
	onMouseenter: $.noop,
	onClose: $.noop
}

/* 검색 */
.container .search1{
    font-size: 17px;
    font-weight: bold;
    margin: 0 20px 0 20px;
}
#search1 #btnSch{    
    margin: 20px 0 0 0;
}
#header-nav .container{
    background: #000;
    text-align: center;
}
.container #search{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
#search li{
    width: 200px;
    margin: 0px;
    padding: 0px;
}
#search .fa{
    margin-left: 8px;
}
.sub-menu-1{
    display: none;
}
.sub-menu-2 li{
    font-size: 13px;
}
ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #424242;
    margin-top: 5px;
    margin-left: -5px;   
}
ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    text-align: left;
}
ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
ul li:hover .sub-menu-1 ul li:hover{
    color: #fff;    
    text-shadow: 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4, 0 0 5px #03A9F4;
}
.fa angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-dro:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-left: 150px;
    background-color: #000;
}
.sub-menu-2 ul li:hover{
    background-color: #03A9F4;
    border-radius: 10px;
}

/* 상품이미지 */
#grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: 400px 400px 400px 400px;
}

/* 가격정보 ul 표시제거 */
ul{
	list-style: none;
}

/* 상품정보 */
.container .content2 .block{
	font-size: 19px;
    color: black;
    margin: 10px;
}

.content2 .block .name{
    color: #231F20;
    font-weight: bold;
}
.content2 .block .item{
    font-size: 15px;
    color: #1C1C1C;
    padding: 5px 0px 5px 0px;
}
.content2 .block a img{
    width: 250px;
    height: 260px;
}

/* 컨테이너 */
.container {
    width: auto;
    margin: 0 auto;
    height: auto;
    background: rgba(255, 255, 255, 0.3);
}

#footer {
    text-align: center;
    height: 180px;
}

/* 하단 정보 */
.container .info{
    height: 140px;
    padding-top: 10px;
}
.container .info li dl .txt{
    font-size: 12px;
    color: #a4a4a4;
}